.heading{
    background-color: aliceblue;
    color: blueviolet;
    font-style: italic;
    margin:10px;
}
.heading1{
    background-color: aliceblue;
    color: rgb(220, 20, 173);
    font-style: italic;
    margin: 10px;
}
.heading3{
    background-color: aliceblue;
    color: darkmagenta;
    font-style: italic;
    margin: 10px;
}
.heading4{
    background-color: aliceblue;
    color: darkgreen;
    font-style: italic;
    margin: 10px;
}
.heading5 {
    background-color: aliceblue;
    color: darkblue;
    font-style: italic;
    margin: 10px;
}
.heading6 {
    background-color: aliceblue;
    color: maroon;
    font-style: italic;
    margin: 10px;
}
.p1{
    color: black;
}
.heading7{
    background-color: aliceblue;
    color: brown;
    font-style: italic;
    margin: 10px;
}
.heading8{
    background-color: aliceblue;
    color: darkorchid;
    font-style: italic;
    margin: 10px;

}
.heading9{
    background-color: aliceblue;
    color: cadetblue;
    font-style: italic;
    margin: 10px;
}
.heading10{
    background-color: blanchedalmond;
    font-style: italic;
    margin: 10px;
}
.heading11{
    background-color: aliceblue;
    color: rgb(129, 95, 160);
    font-style: italic;
    margin: 10px;

}
.toggleButton {
    background-color: #71bff3;
    color: #000;
    padding: 5px;
    border: 2px solid #000;
    width: 100px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
}
.alert-custom {
    color: #99004d;
    background-color: #f1a3ce;
    border-color: #800040;
}
i {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}

.filled {
    color: #1e90ff;
}

.low {
    color: #deb0b0;
}

.filled.low {
    color: #ff1e1e;
}
.h6{
    margin: 10px;
}
.custom-toast {
    background-color: #5dd980;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    
 }
.custom-toast:hover {
     background-color: #45a049;

}
.h3{
    margin-left: 10px;
}
.example-button-row button,
.example-button-row a {
    margin-right: 10px;

}
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
.example-button-row .mat-mdc-button-base {
    margin: 4px 4px 4px 0;
}

.example-flex-container {
    display: flex;
    flex-wrap: wrap;
}
.icon-with-margin {
    margin-right: 8px;
}
.attractive-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.attractive-button:hover {
    background-color: #45a049;
}
#childContainer {
    max-width: 400px;
    max-height: 250px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #D988B9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#updateButton {
    background-color: #FF8080;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#updateButton:hover {
    background-color: #E95793;
}
#updateChildButton {
    background-color: #F7C8E0;
    color: #000;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #800040;
    transition: background-color 0.3s ease;
}
#dataHeading {
    color: #E90064;
    font-size: 24px;
    margin-bottom: 10px;
}

#parentContainer {
    background-color: #DAE2B6;
    padding: 20px;
    max-height: 200px;
    border: 2px solid #7c0808;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
    max-height: 250px;
}




