.heading{
    background-color: aliceblue;
    color: blueviolet;
    font-style: italic;
    margin:10px;
}
.heading1{
    background-color: aliceblue;
    color: rgb(220, 20, 173);
    font-style: italic;
    margin: 10px;
}
.heading3{
    background-color: aliceblue;
    color: darkmagenta;
    font-style: italic;
    margin: 10px;
}
.heading4{
    background-color: aliceblue;
    color: darkgreen;
    font-style: italic;
    margin: 10px;
}
.heading5 {
    background-color: aliceblue;
    color: darkblue;
    font-style: italic;
    margin: 10px;
}
.heading6 {
    background-color: aliceblue;
    color: maroon;
    font-style: italic;
    margin: 10px;
}
.p1{
    color: black;
}
.heading7{
    background-color: aliceblue;
    color: brown;
    font-style: italic;
    margin: 10px;
}
.heading8{
    background-color: aliceblue;
    color: darkorchid;
    font-style: italic;
    margin: 10px;

}
.heading9{
    background-color: aliceblue;
    color: cadetblue;
    font-style: italic;
    margin: 10px;
}
.heading10{
    background-color: blanchedalmond;
    font-style: italic;
    margin: 10px;
}
.heading11{
    background-color: aliceblue;
    color: rgb(129, 95, 160);
    font-style: italic;
    margin: 10px;

}
.heading12{
    background-color:#F2FFE9;
    font-style: italic;
    margin: 10px;
    color: #557C55;

}
.heading15{
    background-color: #F2FFE9;
    color: #DB6B97;
    font-style: italic;
    margin: 10px;

}
.toggleButton {
    background-color: #71bff3;
    color: #000;
    padding: 5px;
    border: 2px solid #000;
    width: 100px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
}
.alert-custom {
    color: #99004d;
    background-color: #f1a3ce;
    border-color: #800040;
}
i {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}

.filled {
    color: #1e90ff;
}

.low {
    color: #deb0b0;
}

.filled.low {
    color: #ff1e1e;
}
.h6{
    margin: 10px;
}
.custom-toast {
    background-color: #5dd980;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    
 }
.custom-toast:hover {
     background-color: #45a049;

}
.h3{
    margin-left: 10px;
    color: palevioletred;
}
.example-button-row button,
.example-button-row a {
    margin-right: 10px;

}
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
.example-button-row .mat-mdc-button-base {
    margin: 4px 4px 4px 0;
}

.example-flex-container {
    display: flex;
    flex-wrap: wrap;
}
.icon-with-margin {
    margin-right: 8px;
}
.attractive-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.attractive-button:hover {
    background-color: #45a049;
}
#childContainer {
    max-width: 400px;
    max-height: 250px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #D988B9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#updateButton {
    background-color: #FF8080;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#updateButton:hover {
    background-color: #E95793;
}
#updateChildButton {
    background-color: #F7C8E0;
    color: #000;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #800040;
    transition: background-color 0.3s ease;
}
#dataHeading {
    color: #E90064;
    font-size: 24px;
    margin-bottom: 10px;
}

#parentContainer {
    background-color: #DAE2B6;
    padding: 20px;
    max-height: 200px;
    border: 2px solid #7c0808;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
    max-height: 250px;
}
 .input-container {
     display: flex;
     align-items: center;
     margin: 20px;
     margin-left: 450px;
 }

 input {
     padding: 10px;
     border: 2px solid #557C55;
     border-radius: 5px;
     font-size: 16px;
     transition: border-color 0.3s;
 }

 input:focus {
     border-color: #557C55;
     outline: none;
 }

 .head3 {
     margin-left: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #E95793;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
 }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containerpipe {
    max-width: 800px;
    width: 100%;
    border: 2px solid #C23373;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    margin: 10px;
}

h2,
h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

h2.style1,
h2.style2,
h2.style3 {
    margin: 20px;
}

h2.style1 {
    color: coral;
    font-style: italic;
}

h2.style2 {
    color: #7F669D;
    font-weight: bold;
}

h2.style3 {
    color: #71bff3;
    font-style: italic;
}

h3 {
    margin: 15px;
}

h3.style4,
h3.style5,
h3.style6,
h3.style7,
h3.style8,
h3.style9,
h3.style10,
h3.style11 {
    margin: 10px;
}

h3.style4 {
    color: #ED5AB3;
    letter-spacing: 1px;
}

h3.style5 {
    color: #C780FA;
    font-weight: bold;
}

h3.style6 {
    color: #C07F00;
    font-style: italic;
}

h3.style7 {
    color: #7A3E65;
    font-style: italic;
    font-weight: bold;
}

h3.style8 {
    color: #B46060;
    font-weight: bold;
}

h3.style9 {
    color: #AE445A;
}

h3.style10 {
    color: #A8DF8E;
    font-weight: bold;
}
h3.style11{
    color: #29ADB2;
    font-weight: 300%;
}
#dropdownBasic1{
    margin-left: 400px;
}
#dropdownBasic2{
    margin-right: 400px;
}
 .routing-box {
     box-sizing: border-box;
     width: 30%;
     padding: 10px;
     margin: 10px;
     margin-left: 50px;
     border: 2px solid #818FB4;
     border-radius: 5px;
     cursor: pointer;
 }

 .component-routing {
     background-color: #DDE6ED;
 }

 .navigation-routing {
     background-color: rgb(212, 244, 180);
     height: 138px;
 }

 .data-driven-routing {
    background-color: #DDE6ED;
    height: 138px;
 }
 .routing-box:hover {
     transform: scale(1.02);
 }
 p {
     color: #435585;
 }
 b{
    color:#363062;
 }