<!--Navigation Bar-->
<app-navbar></app-navbar>

<!-- This is String Interpolation-->
<h1 class="heading">{{title}} </h1>
<app-login> </app-login>

<!-- this is Function call and Make in Angular-->
<h2 class="heading1"> Functions in Angular-</h2>
<button style="background-color: #f371e8; color: #000;padding:5px; border: 2px solid #000;margin:10px" (click)="getName('Sanjana Agrawal','Tranzita_Systems')"> Click Me!</button><br/><br/>

<!-- This is Events in Angular -->
<h2 class="heading3"> {{ title1}}</h2>
<button style="background-color: #71bff3; color: #000;padding:5px; border: 2px solid #000;margin:10px" (click)="getData('Hello Tranzita')"> Call Function-</button>
<br/> <br/>
<input type="text" #box (keyup)="getData(box.value)" placeholder="Event keyup"style="width: 300px; height: 24px;margin:10px;" />
<br /> <br />
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="Event keydown"style="width: 300px; height: 24px;margin:10px;" />
<br /> <br />
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="Event blur" style="width: 300px; height: 24px;margin:10px;" />
<br /> <br />
<input type="text" #box3 (input)="getData(box3.value)" placeholder="Event input" style="width: 300px; height: 24px;margin:10px;"/>
<h4 (mouseover)="getData('mouse over function')"> Hello Tranzita_Systems</h4>
<h4 (mouseleave)="getData('mouse leave function')"> Hello this is mouse leave function</h4><br>

<!-- This is Get Input Box Value and Display-->
<h2 class="heading4">Get Input Box Value- </h2>
<input type="text" 
#box4 placeholder="Enter your Name" name="name" style="width: 300px; height: 24px;margin:10px;"/>
<button style="background-color: #71bff3; color: #000; border: 2px solid #000; margin:10px" (click)="getValue(box4.value)"> Click Me!</button>
<p> Box value is: {{displayVal}} </p>
<br /><br />

<!--This is counter function in Angular-->
<h2 class="heading5"> {{title2}} </h2>
<p><b>Decrement key:</b></p>
<button style="background-color: #71bff3; color: #000; border: 2px solid #000;margin:10px;width: 50px; height: 24px" (click)="counter('subtract')">--</button>
<p span style="font-weight: bold; color: #7faef0; border: 1px solid #1971ed; padding: 3px; width:80px;margin:10px">Count: {{ count }}</p>
<p><b>Increment key:</b></p>
<button style="background-color: #f371e8; color: #000; border: 2px solid #000;margin:10px;width: 50px; height: 24px" (click)="counter('add')">++</button>
<br /><br />

<!--Basic rule of style-->
<h2 class="heading6"> Basic Styling in Angular-</h2>
<p class="p1">Styling in Angular can be done by two methods-<br>
    1. Inline Styling<br>
    2. Global Styling </p>
    <br /><br />

    
    <!--This is Property Binding in Angular-->
    <h2 class="heading7"> Property Binding in Angular-</h2>
    <input type="text" name="user-name" value={{name}} style="width: 300px; height: 24px;margin:10px;" >
    <br/> <br/>
    <input type="text" name="user-name" [value]=name style="width: 300px; height: 24px;margin:10px;">
    <br /><br />

   
    <!-- Use of if-else condition in Angular-->
    <h2 class="heading8"> {{title3}}</h2>
    <h3 *ngIf="show=='yes'; then ifBlock else elseBlock"> Hello Tranzita_Systems</h3>
    <ng-template #ifBlock>
        <h3> If-condition is Active</h3>
        <p>This content is displayed when the condition is true.</p>
    </ng-template>
    <ng-template #elseBlock>
        <h3> Else-condition is Active</h3>
        <p>This content is displayed when the condition is false.</p>
    </ng-template>
    <br /><br />

    
    <!--Using Multiple condition or else if-->
    <h2 class="heading3"> {{title4}}</h2>
    <ng-template [ngIf]="color==='green'">
        <h3 style="color: green;">Green Color it is!</h3>
    </ng-template>
    <ng-template [ngIf]="color==='violet'">
        <h3 style="color: rgb(225, 87, 225);">Violet Color it is!</h3>
    </ng-template>
    <ng-template [ngIf]="color==='crimson'">
        <h3 style="color: crimson;">Crimson Color it is!</h3>
    </ng-template>
    <br /><br />

    
    <!--Switch Case-->
    <h2 class="heading5"> Switch Case in Angular!</h2>
    <div [ngSwitch]="color1">
        <h3 *ngSwitchCase="'blueviolet'" style="color:blueviolet;"> I'm switched to BLUEVIOLET Color</h3>
        <h3 *ngSwitchCase="'green'" style="color:green;"> I'm switched to GREEN Color</h3>
        <h3 *ngSwitchCase="'blue'" style="color:blue;"> I'mswitched to BLUE Color</h3>
        <h3 *ngSwitchCase="'crimson'" style="color:crimson;">I'm switched to CRIMSON Color</h3>
        <h3 *ngSwitchCase="'darkmagenta'" style="color:darkmagenta;"> I'm switched to DARKMAGENTA Color</h3>
        <h3 *ngSwitchCase="'darkgreen'" style="color:darkgreen;"> I'm switched to DARKGREEN  Color</h3>
        <h3 *ngSwitchDefault>This is the unknown color or the user input value is not identified</h3>
    </div>
    <br /><br />

    
    <!--Loops in Angular-->
    <!--Make Array-->
    <!--Make Array of object-->
    <!--Apply for Loop-->
    <!--Apply Loop on Object's Array-->
    <h2 class="heading3">Use of for Loop and Array in Angular- </h2>
    <h3 *ngFor="let item of users">Name is: {{item}}</h3>
    <h3 *ngFor="let item of userDetails">{{item.name}}--{{item.email}}--{{item.phone}}</h3>
    <br /><br />

    
<!--Working of Nested Loop-->
    <h2 class="heading9"> Nested Loops in Angular-</h2>
    <ul *ngFor="let user of user12">
        <li><b>Name is:</b> {{user.name}}</li>
        <li><b>Phone number is:</b> {{user.phone}}</li>
        <li><b>Social Accounts used:</b></li>
        <ul *ngFor="let account of user.socialAccounts">
            <li>{{account}}</li>
        </ul>
    </ul>
    <br /><br />

   
    <!--Style Binding-->
    <!-- Assuming 'color' is a property in your component class -->
    <h2 [style.color]="color2" [style.backgroundColor]="bgColor">Style Binding in Angular-</h2>
    <button style="background-color: #f371e8; color: #fff;padding:5px; border: 2px solid #000;width: 100px; height: 28px;margin:10px" (click)="updateColor()">Update Color</button>
    <button style="background-color: #71f3f3; color: #000;padding:5px; border: 2px solid #000;width: 100px; height: 28px;margin:10px" (click)="resetDefault()">Reset Color</button>
    <br /><br />

    <!--Basic Angular Form-->
    <!--Make Simple Form-->
    <!--Get Form Value Form-->
    <!--Print value -->
    <h2 class="heading3">Basic Forms in Angular-</h2>
    <form #basicForm="ngForm" (ngSubmit)="getData2(basicForm.value)"
    style="max-width: 500px; margin: auto; border: 2px solid #ddd; padding: 20px; border-radius: 5px; background-color: #F2FFE9; ">

    <label for="user"><b>User Name:</b></label>
    <input type="text" id="user" ngModel name="user" placeholder="Enter User Name"
        style="width: 100%; padding: 8px; margin-bottom: 15px; box-sizing: border-box;" required pattern="[A-Za-z]+">
    <!-- Validation icon for user -->
    <div *ngIf="basicForm.controls['user']?.invalid && basicForm.controls['user']?.touched"
        style="color: #f00; margin-bottom: 10px;">
        <i class="fa fa-times-circle"></i> Invalid User Name
    </div>

    <label for="email"><b>Email:</b></label>
    <input type="email" id="email" ngModel name="email" placeholder="Enter User Email"
        style="width: 100%; padding: 8px; margin-bottom: 15px; box-sizing: border-box;" required
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
    <!-- Validation icon for email -->
    <div *ngIf="basicForm.controls['email']?.invalid && basicForm.controls['email']?.touched"
        style="color: #f00; margin-bottom: 10px;">
        <i class="fa fa-times-circle"></i> Invalid Email
    </div>

    <label for="password"><b>Password:</b></label>
    <input type="password" id="password" ngModel name="password" placeholder="Enter User Password"
        style="width: 100%; padding: 8px; margin-bottom: 15px; box-sizing: border-box;" required minlength="8">
    <!-- Validation icon for password -->
    <div *ngIf="basicForm.controls['password']?.invalid && basicForm.controls['password']?.touched"
        style="color: #f00; margin-bottom: 10px;">
        <i class="fa fa-times-circle"></i> Invalid Password
    </div>

    <label for="phone"><b>Phone No:</b></label>
    <input type="tel" id="phone" ngModel name="phone" placeholder="Enter User Phone No"
        style="width: 100%; padding: 8px; margin-bottom: 15px; box-sizing: border-box;" pattern="[0-9]{10};"required minlength="10">
    <!-- Validation icon for phone -->
    <div *ngIf="basicForm.controls['phone']?.invalid && basicForm.controls['phone']?.touched"
        style="color: #f00; margin-bottom: 10px;">
        <i class="fa fa-times-circle"></i> Invalid Phone No
    </div>

<button
    style="background-color: #f371e8; color: #fff; border: none; padding: 10px; width: 50%; cursor: pointer; margin: auto; display: block;">
    Register
</button>

</form>

    
    <h4 style="margin-top: 20px;">The Registered values are:</h4>
    <ul>
        <li>User: {{userData.user}}</li>
        <li>Email: {{userData.email}}</li>
        <li>Password: {{userData.password}}</li>
        <li>Phone No: {{userData.phone}}</li>
    </ul><br /><br />

    <!--Toggle Element-->
    <!--Make HTML element and button-->
    <!--Define and apply property and also update it-->
    <h2 [style.color]="textColor" class="heading11" *ngIf="display">
        Toggle Element-
    </h2>
    <mat-slide-toggle (change)="change($event)" [checked]="isDisplay()">
        Toggle Me!
    </mat-slide-toggle>
    
    <div *ngIf="show1 && display">
        <p>This is a visible element</p>
    </div>
    
    <div *ngIf="display" style="padding: 10px;">
        <b>Heading Tag </b>- Hello I work in Tranzita_systems
    </div><br /><br />


    <!--Bootstrap- installing,checking changes and adding examples of Bootstrap-->
    <h2 class="heading1" >Bootstrap in Angular-</h2>
    <br/>
    <ngb-alert type="custom" [dismissible]="false"><strong>Whoa!</strong> This is a custom alert.</ngb-alert><br />
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert><br />

    <div class="row">
        <div class="col-md-6">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    Toggle dropdown
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Display Item-1</button>
                    <button ngbDropdownItem>Display Item-2</button>
                    <button ngbDropdownItem>Display Item-3</button>
                </div>
            </div>
        </div>
    
        <div class="col text-end">
            <div ngbDropdown placement="top-end" class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle
                    dropup</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button ngbDropdownItem>Item-1</button>
                    <button ngbDropdownItem>Item-2</button>
                    <button ngbDropdownItem>Item-3</button>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <h3 class="h3">Declarative Inline using Bootstrap-</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6 class="h6">Body only</h6>
                <ngb-toast [autohide]="false" class="custom-toast">
                    I am a simple static toast.
                </ngb-toast>
            </div>
    
            <div class="col-md-6">
                <h6 class="h6 mt-4">With a text header</h6>
                <ngb-toast *ngIf="show" header="Hello" [autohide]="false" (hidden)="show1=false" class="custom-toast">
                    I am a simple static toast with a header.
                </ngb-toast>
            </div>
        </div>
    </div>
    <br/>

    <!--Installing Material UI-->
    <h2 class="heading3"> Material UI Components-</h2><br>
    <div class="example-label"><b>Raised</b></div><br>
    <div class="example-button-row">
        <button mat-raised-button>Basic Buttons-</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
    <br/>

<section>
    <div class="example-label"><b>FAB Buttons-</b></div>
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                    <mat-icon>bookmark</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab disabled aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>
<br/>

    <div class="demo-section">
        <b>Icon with a badge</b>
        <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
            Example with a home icon with overlaid badge showing the number 15
        </span>
    </div><br>
    <div class="demo-section">
        <b> Icon with a badge on the left</b>
        <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            Action
        </button>
    </div><br><br>
    <h3 class="h3">Basic Datepicker in Material UI:</h3>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br><br>

    <h3 class="h3"> Static Chips implementation</h3>
    <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option>One fish</mat-chip-option>
        <mat-chip-option>Two fish</mat-chip-option>
        <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
        <mat-chip-option color="warn">Warn fish</mat-chip-option>
    </mat-chip-listbox><br><br>

    <h3 class="h3">Tooltip Implementation-</h3>
    <button mat-raised-button matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over" class="attractive-button">
        Action Button
    </button>
    <br><br><hr>
    <!--Make Todo List -->
    <!--Make Textbox and button-->
    <!--Show list of breaks-->
    <!--Remove items from todo list-->
   <app-todolist><h2 class="heading2">Todo List-</h2>
     </app-todolist><hr>
     <br><br>

   
    
    





   

    



   






  


    

    
    
    







   
   


    

    




